@import url("../Login/Login.css");

.logout-page-component{
    position: absolute;
    top: 10rem;
    left: 20rem;
    text-align: center;
    align-items: center;
}
.simple-button{
    position: absolute;
    top: 10rem;
    left: 13rem;
}
@media screen and (max-width: 492px) {

    .logout-page-component{
        position: absolute;
        left: 1rem;
     }
     .simple-button{
        position: absolute;
        left: 3rem;
    }

}